/* GERAL */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: lightgrey;
    border-bottom: 2px solid black;
}

/* SVG DOS BTNS DE MENU */
.menu svg {
    font-size: 2em;
    cursor: pointer;
}

/* LAYOUT PARA DESKTOP NO MINIMO DE 671PIXELS */
@media (min-width: 671px) {

    /* PARTE DO MENU DESKTOP */
    .ul_desktop {
        display: flex;
        gap: 15px;
    }

    .ul_desktop li {
        list-style: none;
    }

    .ul_desktop a {
        text-decoration: none;
    }

    /* BTN MOBILE NO MENU DESKTOP */
    .btn_mobile {
        display: none;
    }

    /* MENU MOBILE */
    .menu_mobile {
        display: none;
    }
}

/* LAYOUT PARA MOBILE NO MAXIMO DE 670PIXELS */
@media(max-width: 670px) {
    
    /* MENU DESKTOP */
    .ul_desktop {
        display: none;
    }

    /* MENU MOBILE OPEN OU CLOSE? */
    
    /* OPEN */
    .menu_open {
        display: block;
    }

    .menu_close {
        display: none;
    }
}
